#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "microbin"
name = "MicroBin"
description.en = "Configurable file-sharing and URL shortening web app"
description.fr = "Partage de fichiers et de raccourcissement d'URL"

version = "2.1.0~ynh1"

maintainers = ["eric_G"]

[upstream]
license = "BSD-3-Clause"
website = "https://microbin.eu/"
demo = "https://pub.microbin.eu/"
code = "https://github.com/szabodanika/microbin"
fund = "https://ko-fi.com/dani_sz"

[integration]
yunohost = ">= 12.1.17"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = false
sso = false

disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.admin]
    type = "user"

    [install.password]
    help.en = "Use the help field to add an information for the admin about this question."
    help.fr = "Utilisez le champ aide pour ajouter une information à l'intention de l'administrateur à propos de cette question."
    type = "password"

[resources]

    [resources.sources]

    [resources.sources.main]
    in_subdir = false
    amd64.url = "https://github.com/szabodanika/microbin/releases/download/v2.1.0/microbin-v2.1.0-x86_64-unknown-linux-musl.tar.gz"
    amd64.sha256 = "3d6285b4520340c0611875916a7b1dbfa880973541f044c3d18efce799725f45"
    arm64.url = "https://github.com/szabodanika/microbin/releases/download/v2.1.0/microbin-v2.1.0-aarch64-unknown-linux-musl.tar.gz"
    arm64.sha256 = "d85f2259404587b1b7b6e585d9fc63e53b0253294cd0a96593ecb0355228f88a"
    armhf.url = "https://github.com/szabodanika/microbin/releases/download/v2.1.0/microbin-v2.1.0-armv7-unknown-linux-musleabihf.tar.gz"
    armhf.sha256 = "c27a3ce3d1b417d095660aa6c7d4daae1340412374a1824573636fc2d8f90469"
    i386.url = "https://github.com/szabodanika/microbin/releases/download/v2.1.0/microbin-v2.1.0-i686-unknown-linux-musl.tar.gz"
    i386.sha256 = "df9a2466d1deba16246e5256d04bf04071bb320e105e97795f53c37be633e86f"

    autoupdate.strategy = "latest_github_release"
    autoupdate.asset.amd64 = ".*-x86_64-unknown-linux-musl.tar.gz"
    autoupdate.asset.arm64 = ".*-aarch64-unknown-linux-musl.tar.gz"
    autoupdate.asset.armhf = ".*-armv7-unknown-linux-musleabihf.tar.gz"
    autoupdate.asset.i386 = ".*-i686-unknown-linux-musl.tar.gz"

    [resources.system_user]

    [resources.install_dir]

    [resources.data_dir]

    [resources.permissions]
    main.url = "/"

    [resources.ports]
