#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "microbin"
name = "MicroBin"
description.en = "Configurable file-sharing and URL shortening web app"
description.fr = "Partage de fichiers et de raccourcissement d'URL"

version = "2.0.4~ynh5"

maintainers = ["eric_G"]

[upstream]
license = "BSD-3-Clause"
website = "https://microbin.eu/"
demo = "https://pub.microbin.eu/"
code = "https://github.com/szabodanika/microbin"
fund = "https://ko-fi.com/dani_sz"

[integration]
yunohost = ">= 12.1.17"
helpers_version = "2.1"
architectures = ["amd64", "arm64"]
multi_instance = true

ldap = false
sso = false

disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.admin]
    type = "user"

    [install.password]
    help.en = "Use the help field to add an information for the admin about this question."
    help.fr = "Utilisez le champ aide pour ajouter une information à l'intention de l'administrateur à propos de cette question."
    type = "password"

[resources]

    [resources.sources]

    [resources.sources.main]
    in_subdir = false
    amd64.url = "https://github.com/szabodanika/microbin/releases/download/v2.0.4/microbin-v2.0.4-x86_64-unknown-linux-musl.tar.gz"
    amd64.sha256 = "ccfc69c5ab33cc79c56da0cea55e68a5b93f19fd68ac028a00e9d09bcf5575b6"
    arm64.url = "https://github.com/szabodanika/microbin/releases/download/v2.0.4/microbin-v2.0.4-aarch64-unknown-linux-musl.tar.gz"
    arm64.sha256 = "03dfdc68e277296ca050fc4e3a83809d5e6167bf2da110efbe0cc00f58e0008a"

    autoupdate.strategy = "latest_github_tag"
    autoupdate.asset.amd64 = ".*-x86_64-unknown-linux-musl.tar.gz"
    autoupdate.asset.arm64 = ".*-aarch64-unknown-linux-musl.tar.gz"

    [resources.system_user]

    [resources.install_dir]

    [resources.data_dir]

    [resources.permissions]
    main.url = "/"

    [resources.ports]
